/* Universal Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    Font-Family: 'Dosis', Sans-Serif;
    Font-Size: 3rem;
}

h2 {
    Font-Family: 'Titillium Web', Sans-Serif;
    Font-Size: 1.5rem;
}

p {
    Font-Family: 'Titillium Web', Sans-Serif;
    Font-Size: 1rem;
    font-weight: 500;
}

/* Header > Navigation */

header {
    position: fixed;
    background-color: hsla(35, 75%, 65%, .7);
    min-height: 8vh;
    width: 100%;
    opacity: .9;
    z-index: 20;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    Font-Family: 'Oxygen', Sans-Serif;
    font-weight: 600;
    background-color:  #FEF5E7;   
    min-height: 8vh; 
}



.fa-brain {
    display: inline;
    font-size: 1.5rem;
    color: #F37878;
    margin-right: .5rem;
}

#logo:hover .fa-brain {
    transition: .1s;
    /* font-size: 1.7rem; */
}

#logo {
    Font-Family: 'Oxygen', Sans-Serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 1.1rem;
    color: black;
    opacity: 1.2;
    position: relative;
}

#logo a {
    text-decoration: none;
    color: inherit;
}

#logo h4 {
    display: inline;
}

#logo:hover {
    color:#2E86C1;
    cursor: pointer;
}

nav ul {
    display: flex;
    position: relative;
}

nav ul li {
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    opacity: 1.2;
    float: left;
    color:#2E86C1;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a:hover {
    color:   #AED6F1;
}


.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: #EDCBB1;
    margin: 5px;
}


/* Banner */

#banner {
    height: 100vh;
    /* background: url(../images/banner-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    background-attachment: fixed; */
}

#welcome-wrap {
    float: left;
    position: relative;
    background-color: #FEF5E7;
    opacity: .95;
    height: 100%;
    width: 60%;
    /* top: 50%;
    left: 50%;
    transform:translate(-50%,-50%); */
}

#welcome-content {
    float: right;
    position: relative;
    background-color:#FEF5E7;
    opacity: .95;
    height: 100%;
    width: 40%;
    /* top: 50%;
    left: 50%;
    transform:translate(-50%,-50%); */

}

#welcome-content img {
    width: 80%;
    position: relative;
    right: 8%;
    top: 30%;
}

#welcome-text {
    height: 30%;
    position: relative;
    top: 35%;
    left: -5%;
    text-align: center;
}


#welcome-wrap h1, #welcome-wrap p {
    color: black;
    padding: .5rem;
}

.button-primary {
    display: inline-block;
    position: relative;
    padding: .5em 1.5em;
    background-color:#52BE80;
    border-radius: .5rem;
    border: 1px solid #7DCEA0;
    Font-Family: 'Titillium Web', Sans-Serif;
    font-size: 120%;
    font-weight: 590;
    margin: 1rem;
    text-decoration: none;
    color: white;

}

.button-primary:hover {
    transition: .4s;
    background-color: white;
    color: black;
    border: 1px solid #7DCEA0;
}

.button-secondary {
    display: inline-block;
    position: relative;
    padding: .5em 1.5em;
    background-color:white;
    border: 1px solid #7DCEA0;
    border-radius: .5rem;
    Font-Family: 'Titillium Web', Sans-Serif;
    font-size: 120%;
    font-weight: 590;
    margin: 1rem;
    text-decoration: none;
    color: green;

}

.button-secondary:hover {
    transition: .4s;
    background-color: #7DCEA0;
    color: black;
}


/* Article Section */

#article-section {
    position: relative;
    top: 30%;
    width: 100%;
    height: 120vh;
    background-color: #FEF5E7;
}

#featured-content {
    position: relative;
    top: 10%;
    float: left;
    height: 90%;
    width: 65%;
    
}

#featured-content .featured-card{
    position: relative;
    float: left;
    margin: 2rem 1rem 10% 1rem;
    background-color: rgba(174, 214, 241, .7);
    width: 25%;
    height: 27%;
    border-radius: .35rem;
    left: 6%;

}

.featured-card img {
    position: relative;
    transform: translateY(20%);
    left: 12%;
    width: 75%;
    z-index: 12;
    /* display: none; */
}

.featured-card:hover img{
    transition: .25s;
    opacity: 0;
    transform: translateY(100%);
}

.featured-card:hover .article-card-content {
    animation-name: skew;
    animation-duration: .4s;
}

@keyframes skew {
    25% {
        transform:rotate(1deg);
        transform: scale(1.05);
    }

    75% {
        transform:rotate(-1deg)   
    }

    100% {
        transform:rotate(0deg);
        transform: scale(1);   
    }
}

.img-overlay h2 {
    font-size: 2.5vw;
    color: white;
    position: relative;
    margin-left: 11%;
    opacity: 0;
}

.img-overlay p {
    text-align: center;
    font-size: .80vw;
    color: white;
    position: relative;
    margin: 5%;
    opacity: 0;
}

.featured-card:hover .img-overlay h2 {
    transition: .6s;
    opacity: .9;
}

.featured-card:hover .img-overlay p {
    transition: .6s;
    opacity: .9;
}

.featured-card .img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: .35rem;
    opacity: 1;
    background-color: #AED6F1;
    top: 0;
    z-index: 10;
}


.featured-card:hover .img-overlay {
    background-color: rgba(0, 0, 0, .65);
    transition: .3s;
    opacity: .9;
}


.article-card-content {
    width: 14.75vw;
    height: 10.75vh;
    background-color: white;
    border-radius: 1.45rem;
    position: absolute;
    left: 2%;
    bottom: -35%;
    box-shadow: -1px 8px 3px -5px rgba(243, 120, 120,.3);
    z-index: 13;
}



.article-card-content h3 {
    font-size: 1vw;
    margin-top: 1vw;
    text-align: center;
    Font-Family: 'Titillium Web', Sans-Serif;

}

.action-items {
    height: 100%;
    position: relative;
    top: 2vh;
    left: 5%;
    Font-Family: 'Titillium Web', Sans-Serif;
}

.action-items i {
    padding-left: .75vh;
    font-size: .80vw;
}

.action-items span {
    font-size: .80vw;
}

.fa-bookmark {
    position: relative;
    left: 5vw;
}

.far:hover {
    font-weight: 900;
    cursor: pointer;
}

.fa-bookmark:hover {
    color: lightsalmon;
}

.fa-heart:hover {
    color: #E74C3C;
}


.fa-comment:hover {
    color: #85C1E9;
}

#category-menu {
    position: relative;
    top: 10%;
    float:right;
    height: 90%;
    width: 35%;
}


#article-section .content-wrap {
    height: 90%;
    width: auto;
    margin: 1vh;
    
}

#article-section h2 {
    position: relative;
    padding: .5rem;
    left: 5%;
}

#category-menu h2 {
    height: 90%;
    position: relative;
    padding: .5rem;
    left: 5%;
}

/* Main */
main {
    display: flex;
    position: relative;
    width: auto;
    height: 100vh;
    background-color:#FEF5E7;
}

main section {
    width: 75%;
}

/* Main Cards */

#api-play {
    display: flex;
    position: relative;
    width: auto;
    height: 100vh;
    background-color:#FEF5E7;
}

#api-play section {
    width: 75%;
}

#api-play section .card {
    top: 6%;
    left: 2%;
    position: relative;
    border-radius: 10px;
    border: 2px solid black;
    width: 30%;
    height: 40%;
    float: left;
    margin: 1%;
    text-align: center;
    Font-Family: 'Oxygen', Sans-Serif;
}

#api-play section .card:hover {
    transition: .5s;
    background-color:#D6EAF8;
    opacity: .8;
}

/* Sidebar */
#api-play aside {
    display: flex;
    width: 25%;
}

#side-bar {
    position: relative;
    top: 7%;
    left: 14%;
    border: 3px solid black;
    width: 75%;
    height: 84%;
    border-radius: 10px;
}

#side-bar:hover {
    transition: .4s;
    background-color:#F0B27A;
    opacity: .8;
} 

/* Api Playground */

#api-play {
    width: 100%;
    height: 80vh;
    background-color: lightblue;
}



/* Footer */

footer {
    width: 100%;
    height: 10vh;
    border-top: 1px solid black;
    background-color: #FEF5E7;
}
